/* #12D879=green */
/* 2435AB=blue */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundImage{
    background-image: url("./Pictures/gradient_2.jpg");
    background-repeat: none;
    background-size: cover;
}
.row {
     --bs-gutter-x: 0 !important;
     --bs-gutter-y: 0;
}

#loginform {
    width: 400px;
    height: 400px;
    border-radius: 2rem;
    border-color:#12D879 ;
    border-width: 0.25rem;
}
input[type='email'],input[type='password'],input[type='text']{
    border-color: #12D879;
}
#login{
    color: white;
    background-color: #2435AB;
    border-radius: 2rem;
}
#Signupform{
    width: 400px;
    height: 500px;
    border-radius: 2rem;
    border-color:#12D879 ;
    border-width: 0.25rem;
}
#forgetScreen{
    width: 400px;
    height: 500px;
    border-radius: 2rem;
    border-color:#12D879 ;
    border-width: 0.25rem;
}
.nav-color{
    background:#2435AB ;
}
.active{
    background-color: #12D879;
}
.nav-color a:hover{
    color: #12D879;
}
.nav-color a::after{
    color: #12D879;
}
